*{
	font-family: sans-serif;
}

#wrapper{
	width: 320px;
	margin: 0 auto;
	display:flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content:center;
	box-sizing: border-box;
}

header{
	width: 100%;
	background: grey;
	display: flex;
	align-items: center;
	font-size: 36pt;
	color: #0c96f2;
	font-weight: bolder;
}

header img{
	width: 150px;
}

header span{
	margin-left: 20px;
	text-align: center;
	text-shadow: 0 -5px 10px white;
}

nav{
	padding: 2px 10px;
	width: 100%;
	height: 30px;
	background: black;
	display: flex;
	align-items: center;
	box-shadow: 0 5px 10px gray;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
}

nav a{
	margin-right: 15px;
	color: white;
}

a{text-decoration: none;}

nav a:hover{
	background: #0c96f2;
	transform: translate(1px, 1px);
}

#m{
	display: flex;
	justify-content: space-between;
	margin: 0;
}

main{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 0;
}

main figcaption{
	font-size: 16pt;
	text-align: center;
	font-weight: bolder;

}

main figure{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding:5px;
	color: black;
}

main img{
	width: 320px;
	border-radius: 30px;
	margin: 5px;
}

main a, aside figure{
	margin: 10px 0;
	padding: 5px 5px;
	border-radius: 30px;
	box-shadow: 0 -5px 10px gray;
}

main a:hover{
	transform: translate(2px, 2px);
	box-shadow: 0 -5px 10px #0c96f2;
}

#stat img{
	width: 100%;
}

#stat span{
	display: block;
	font-size: 24pt;
	font-weight: bolder;
	text-align: center;
}

aside{
	background: black;
	margin-left:10px;
	margin-top: 0;
	padding: 5px;
	font-size: 10pt;
	text-align: center;
	border-bottom: 5px solid gray;
	box-shadow: 0 5px 10px gray;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
}

aside span{
	font-size: 12pt;
	font-weight: bold;
	color: white;
}

aside img{
	width: 200px;
	border-radius: 10px;
}

aside figure{
	background: white;
}

aside figure:hover{
	transform: translate(0px, 2px);
	border-bottom: 3px solid black;
	box-shadow: 0 -5px 10px #0c96f2;
}

aside{display: none;}

p{
	text-indent: 20px;
	text-align: justify;
}

figure p{display: none;}

footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	margin-top: 30px;
	padding: 5px 5px;
	border-radius: 30px;
	box-shadow: 0 -5px 10px gray;
	font-size: 10pt;
	color: black;
}

section{
	text-align: center;
	margin: 0 5px;
}

#address, #name, #soc{flex-basis: 30%;}

#soc{
	border-left: 1px solid silver;
	border-right: 1px solid silver;
}

#social div{
	width:25px;
	height:25px;
	display:inline-block;
}
		#fb{
			background:url(./images/sc.jpg)no-repeat 0 0; /*на фон ложимо фото без повтору з координатами 0 0*/
		}
		#tw{
			background:url(./images/sc.jpg)no-repeat -25px 0;
		}
		#yb{
			background:url(./images/sc.jpg)no-repeat -50px 0;
		}
		#in{
			background:url(./images/sc.jpg)no-repeat -75px 0;
		}
		#ln{
			background:url(./images/sc.jpg)no-repeat -100px 0;
		}
		#tg{
			background:url(./images/sc.jpg)no-repeat -125px 0;
		}
		#tg2{
			background:url(./images/sc.jpg)no-repeat -150px 0;
		}
		#social div:hover{
			background-position-y:-25px;
}

@media screen and (min-width:480px){
    #wrapper{width:440px;}
}

@media screen and (min-width:640px) {
    #wrapper {
        width: 600px;
    }

    header img {
        width: 316px;
    }

    header {
        font-size: 52px;
    }

    figure p {
        display: inline;
    }

    main figure div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    main figure div img {
        width: 100%;
    }
}
@media screen and (min-width:800px){
    #wrapper{width:740px;}
    #stat img{
        width: 100%;
    }
}

@media screen and (min-width:1200px){
    #wrapper{width:1000px;}
    aside{display: inline;}
    nav{
        border-bottom-right-radius: 0;
    }
    main{
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    main figure div{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    main p{
        order: 3;
    }
    main img{
        width: 300px;
        order: 2;
        align-self: center;
    }
    main a{
        width: 48%;
    }
}
